{{ template "layout/base.html" . }}

{{define "head"}}
<title>UI Activation</title>
{{end}}

{{define "body"}}
<div class="card card-default">
  <div class="card-header with-border">
    <h3 class="card-title">OpenVPN UI Activation</h3>
    <div class="pull-right card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <div class="card-body">
    {{template "common/alert.html" .}}
    <form role="form" action="{{urlfor "ActivationController.Post"}}" method="post">
    <div class="card-body">

        <div class="form-group">
            <label>Status VPN:</label>
            {{if .Status.Active}}
            <span class="badge badge-success">Active</span>
            {{else}}
            <span class="badge badge-danger">Not Active</span>
            {{end}}
        </div>

        <div class="form-group">
            <label for="logs">
                <ion-icon name="document-text-outline"></ion-icon> Logs
            </label>
            <pre id="logBox" style="height:300px; overflow-y:auto; background:#000; color:#0f0; padding:10px; border-radius:5px;">
                {{.Status.Logs}}
            </pre>
        </div>

      <div class="form-group">
          <label for="vpnHost">VPN Host</label>
          <select class="form-control" id="vpnHost" name="vpn_host">
              {{range $i, $server := .Status.Servers}}
              <option value="{{$server}}" {{if eq $i 0}}selected{{end}}>{{$server}}</option>
              {{end}}
          </select>
      </div>

      <div class="form-group">
          <label for="vpnPort">VPN Port</label>
          <input type="number" class="form-control" id="vpnPort" name="vpn_port" placeholder="Input Port" min="1" max="65535">
      </div>

      <div class="form-group">
        <label class="col-form-label" for="name">Cookie</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-exchange"></i></span>
          </div>
          <input type="text" class="form-control" name="cookie" id="cookie" placeholder="Enter cookie">
        </div>
      </div>

      <button type="submit" class="btn btn-primary" style="width: 125px;">Activate</button>
    </div>
    <!-- /.card-body -->
    </form>
  </div>
</div>
<!-- /.card -->
{{end}}